<style>
.valeur_block{
    width:20%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height:300px;
}
.small_font{
    font-size:12px;
    margin-left: -20px;
    text-align: left;
    color: black;	
}
.valeur_block>h3{
    color:black;
}
</style>
<div style="width:100%;">
    <div class="valeur_block" style=" background: #f3eee1;">
    <h3> Ingénierie </h3>
        <ul class="small_font">
        <li> Ce travail s'appuie sur des
        faits pour fournir un ensemble rigoureux et cohérent.
        </li>
        <li>
        On applique le principe de Pareto : le but n'est pas de 
        se perdre dans les détails mais de donner une vision 
        d'ensemble approximative mais fonctionnelle.
        </li>
        </ul>
    </div>
    <div class="valeur_block" style="background: #cc3d4b;">
    <h3> Impact </h3>
        <ul class="small_font">
        <li> Ce qui compte, c'est que ce travail vous serve. Pour cela, 
        on fait du Lean : on étudie votre besoin et on s'adapte.
        </li>
        </ul>
    </div>
    <div class="valeur_block" style=" background: #ffffff;">
    <h3> Transparence </h3>
        <ul class="small_font">
        <li> Vous pouvez remonter aux sources.
        </li>
        <li>
        Quand c'est notre opinion qu'on exprime, on vous le dit.
        </li>
        </ul>
    </div>
    <div class="valeur_block" style=" background: #dae39b;">
    <h3> Indépendance </h3>
        <ul class="small_font">
        <li> On est bénévoles, on sert la planète, et personne ne nous 
        paie pour transmettre un message plutôt qu'un autre.
        </li>
        </ul>
    </div>
</div>