{% extends "ecosyn/section/page_generic.html" %}

{% block sections %}
<!-- content, divided into multiple sections -->
{% for section_list in object.get_sections %}
{% if section_list %}
{% include "ecosyn/section/part_generic.html" %}

<!-- add the Secteurs list: --> 
{% if section_list.0.title == "Secteurs" %}

<div id="Secteur_list_container">
{% for sec in secteur_list %}
    
    <div class="secteur_container" id="secteur_container_{{sec.id}}" 
        style="{% if sec.header_picture %} 
        background-image: url({{ sec.header_picture.picture.url }}) {% endif%};"
        onmouseenter="show_text('secteur_description_{{sec.id}}');">
        
        <a href="{% url 'ecosyn:report_details' sec.id %}">
        <div class="secteur_description" id="secteur_description_{{sec.id}}"
        onmouseleave="hide_text('secteur_description_{{sec.id}}');">
        <h3> {{sec.title}} </h3>
        <p> {{sec.short_description}} </p>
        </div>
        </a>
        
    </div>
{% endfor %}
</div>
{% endif %}

{% endif %}
{% endfor %}
{% endblock %}

{% block causal_link %}
{% endblock %}