{% extends "ecosyn/base.html" %}

{%block content%}

{%load define_action%}

<!-- big header picture -->


<div id="page_title_div">
    {% if object.header_picture is not None %}
    <img src="{{ object.header_picture.picture.url }}" 
        alt="Header pic" id="header_picture"/>
    {% endif %}
    <!-- title -->
    {% block title %}
    {% if object.header_picture is not None %}
    <div id="page_title_area0">
        <h1 style="text-align: center;" id="page_title2">{{object.title}}</h1>
    </div>
    <div id="page_title_area1">
        <h1 style="text-align: center;" id="page_title">{{object.title}}</h1>
    </div>
    {% else %}
    <div id="page_title_area2">
        <h1 style="text-align: center;" id="page_title">{{object.title}}</h1>
    </div>
    {% endif %}
    {% endblock %}
</div>
<!--
{% if object.header_picture is not None %}
<img src="{{ object.header_picture.picture.url }}" 
    alt="Header pic" id="header_picture"/>
{% endif %}
-->

<div id="main">
<div id="main2">
<h3 style="text-align: center;">{{object.short_description}}</h3>
{% block sections %}
<!-- content, divided into multiple sections -->
{% with width=600 %}
{% with height=500 %}
{% with icon_height=50 %}
{% for section_list in object.get_sections %}
    {% include "ecosyn/section/part_generic.html" %}
{% endfor %}
<script>
var posDict=[];
var number={
    {% for section_list in object.get_sections %}{% if section_list|length > 1 %}
    {{section_list.0.order}}: {{section_list|length}},{% endif %}{% endfor %}
};
function moveSlide(position,order,incr){
    var pos = 0;
    if (!(order in posDict)){
        posDict.push({
            key: order,
            value: 0
        });
    } else {
        pos = posDict[order];
    }
    var width={{width}};
    var movable=document.getElementById("slide_movable".concat(order));
    var rond = document.getElementById("slide_position_".concat(order).concat("_").concat(1+pos));
    rond.setAttribute("style","background:white");
    if (incr!=0){
        position=(pos+incr+number[order])%number[order];
    }
    posDict[order]=position;
    movable.style.left = (-position*width).toString().concat("px");
    var rond = document.getElementById("slide_position_".concat(order).concat("_").concat(1+position));
    rond.setAttribute("style","background:darkgrey");
};
</script>
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}

    
<!-- cause diagram -->
{% block causal_link %}
{% if object.get_cause_diagram %}
{% with diagram=object.cause_diagram %}
{% include "ecosyn/diagram.html" %}
{% endwith %}
{% endif %}

<!-- still display links if browser doesnt support canvas -->
<canvas>
    <div id="causal_link_div">
        <div id="causal_link_left">
            <h3> Causes majeures </h3>
            {% for lien in object.causes.all %}
            {% with sub=lien.cause %}
            <div class="causal_link_box">
                <a class="causal_link" 
                   href="{% url 'ecosyn:topic_details' sub.id %}">
                    {{sub.title}}
                </a>
            </div>
            {%endwith%}
            {% endfor %}
        </div>
        <div id="causal_link_right">
            <h3> Consequences </h3>
            {% for lien in object.consequences.all %}
            {% with sub=lien.consequence %}
            <div class="causal_link_box">
                <a class="causal_link" 
                   href="{% url 'ecosyn:topic_details' sub.id %}">
                    {{sub.title}}
                </a>
            </div>
            {%endwith%}
            {% endfor %}
        </div>
    </div>
    
</canvas>
{% endblock %}

</div>
</div>



{% endblock content %}
